<!--
JAVA: Aidan Wong, Vedant Kothari
SoftDev
K35: Now Again for the First Time
2024-03-12
Time Spent: 2
-->

{% extends "base.html" %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/view-story.css') }}">
{% endblock %}

{% block content %}
<div class="main-content">
    <h2 class="story-title">{{ story_title }}</h2>
    <p class="story-content">{{ story_content }}</p>
    <h3>Contributions</h3>
    <ul class="contributions">
        {% for contribution in contributions %}
            <li>
                <span class="contributor">{{ contribution.contributor }}</span>
                {{ contribution.text }}
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('landing_page') }}" class="btn btn-primary">Back to Dashboard</a>
</div>
{% endblock %}