<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <style>
        a {
            text-decoration: none;
            color: blue;
        }
        a:hover {
            color: red;
        }
        a :visited {
            color: blue;
        }
    </style>
</head>
<body>
    <h1>The Firestation</h1>
    <h3>Currently on Duty: Bill and Law</h3>
    <a href="/wdywtbwygp">Find a Job Simulator</a>
</body>
</html>