<!--
Fire Hydrant: Aidan Wong, Amanda Tan
SoftDev
K13 - Templating with Random Occupation
2024-09-30
time spent: 1.0
-->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>K13 Job Randomizer</title>
    <style>
      table, th, td {
      border: 1px solid black;
    }
  </style>
  </head>
  <body>
    <h1>K13: Occupation Randomizer</h1>
    <h3>Team Fire Hydrant: Aidan Wong, Amanda Tan</h3>
    <p>Your random occupation is: {{random_occupation}}.</p>
    <p>Here's a helpful starting resource: <a href="{{ resource }}" target="_blank">{{ resource }}</a></p>
    <br>
    <br>
    <table>
      <tr>
        <th>Occupations</th>
        <th>Weights (%)</th>
        <th>Helpful Starting Resource</th>
      </tr>
      {% for occupation, data in occupations_dict.items()%}
        <tr>
          <td>{{ occupation }}</td>
          <td>{{ data['weight'] }}</td>
          <td><a href="{{ data['resource'] }}" target="_blank">{{data['resource']}}</a></td>
        </tr>
      {% endfor %}
  </body>
</html>
